/* Tabla */
.table th, .table td {
  vertical-align: middle;
  white-space: nowrap;
}

.table thead th {
  font-weight: 600;
}

.table-primary th {
  background-color: #cce5ff !important; /* o tu color preferido */
  color: #000 !important;
}


/* Estilo select */
#toolbar .form-select {
  min-width: 180px;
}

/* Botón Limpiar Filtros */
#clearFilters {
  height: 32px;
  padding: 0 12px;
}

#clearFilters:disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* Fuente y fondo general */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

/* Título */
h2 {
  font-weight: 600;
  color: #000000;
}

/* Footer */
footer {
  border-top: 1px solid #dee2e6;
  font-size: 0.9rem;
  color: #000000;
}
